@use "../assets/colors";

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 24px;
  a {
    color: colors.$main;
    font-weight: 400;
    text-decoration: none;
  }
  a.active {
    font-weight: 700;
  }
}
