<div class="imageContainer">
  <img
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    class="userImage"
    *ngIf="
      !(randomUserFetcher.loadingHandler.isLoading$ | async) && userPicture
    "
    [ngSrc]="userPicture"
    fill
    priority
  />
</div>
<div class="textContainer">
  <p>Hi! My name is</p>
  <h1
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    *ngIf="userName"
  >
    {{ userName }}
  </h1>
</div>
<p>{{ timer.timeElapsed }}</p>
<button
  (mouseover)="onMouseOver()"
  (mouseleave)="onMouseLeave()"
  class="btn"
  (click)="onClick()"
>
  New
</button>
