<app-error *ngIf="errorState.isError" />
<div class="imageContainer">
  <img
    appMouseOver
    [isMouseOver$]="isMouseOver$"
    class="userImage"
    *ngIf="picture"
    [ngSrc]="picture"
    fill
    priority
    (load)="onImageLoad()"
    alt="A random user's image."
  />
</div>
<div class="textContainer">
  <p>Hi! My name is</p>

  <ng-container *ngIf="name; else placeholderName">
    <h1 class="userName" appMouseOver [isMouseOver$]="isMouseOver$">
      {{ name }}
    </h1>
  </ng-container>
  <ng-template #placeholderName>
    <h1 class="namePlaceholder">Placeholder</h1>
  </ng-template>
</div>

<button
  appMouseOver
  [isMouseOver$]="isMouseOver$"
  [ngClass]="{ btn: true, isLoading: loader.isLoading }"
  (click)="onClick()"
  [disabled]="loader.isLoading"
>
  <app-spinner *ngIf="loader.isLoading" />

  New
</button>
